
/* Notification center */

.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(40,42,54,1);
}

.noti-center.time {
    font-size: 48px;
}

.noti-center.date {
    font-size: 16px;
}

/* Notifications */

.notification.content {
    margin: 16px 32px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 1px white;
}

.appname {
    font-size: 12px;
}

.time {
    font-size: 12px;
}

.body {
    padding: 16px 0px;
}

.blurredBG.notification {
    border-radius: 12px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(35,91,200,1) 100%);
    border: solid 1.5px #00d4ff;
}

.blurredBG.notification.critical {
    border-radius: 12px;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(105,28,42,1) 35%, rgba(131,9,9,1) 100%);
    border: solid 1.5px #ff005b;
}

.notificationInCenter {
    padding: 8px 16px;
    border-radius: 12px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(35,91,200,1) 100%);
    border: solid 1.5px #00d4ff;
}

.notificationInCenter.critical {
    padding: 16px;
    border-radius: 12px;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(105,28,42,1) 35%, rgba(131,9,9,1) 100%);
    border: solid 1.5px #ff005b;
}

/* Labels */

label {
    color: white;
}

label.notification {
    color: white;
}

label.critical {
    color: white;
}

.notificationInCenter label.critical {
    color: white;
}

label.deadd-noti-center.in-center.appname {
    margin-right: 16px;
}


/* Buttons */

button {
    background: rgba(0, 20, 20, 0.2);
    border-radius: 4px;
    border-width: 0px;
}

button:hover {
    background: rgba(0, 20, 20, 0.2);
}

/* Custom Buttons */

.userbutton {
    background: rgba(20,0,0, 0.15);
}

.userbuttonlabel {
    color: #222;
    font-size: 12px;
}

.userbutton:hover {
    background: rgba(20, 0, 0, 0.2);
}

.userbuttonlabel:hover {
    color: #111;
}

button.buttonState1 {
    background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
    color: #fff;
}

button.buttonState1:hover {
    background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
    color: #111;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #111;
}

button.buttonState2:hover {
    background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
    color: #000;
}

/* Images */

image.deadd-noti-center.notification.image {
    margin-left: 20px;
}
